<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>数据查询2</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/index.css"/>
		
	</head>
	<body>
		<div class="header">
			<img src="__PUBLIC__/admin/img/logo.png"/>
			<span>双维科技信息管理平台</span>
		</div>
		<div class="content content3 clearfix">
			<div class="con_left">
				<ul>
					<li>
						<a href="{:U('Equipment/index');}">
							<img src="__PUBLIC__/admin/img/device2.png"/>
							<span>设备列表</span>
						</a>
					</li>
					<li>
						<a href="{:U('Admin/Equipment/map')}">
							<img src="__PUBLIC__/admin/img/position1.png"/>
							<span>地图地理</span>
						</a>
					</li>
					<li class="actives">
						<a href="{:U('Cycle/index')}">
							<img src="__PUBLIC__/admin/img/date1.png"/>
							<span>数据展示</span>
						</a>
					</li>
					<li>
						<a href="{:U('Admin/Equipment/manage')}">
							<img src="__PUBLIC__/admin/img/set1.png"/>
							<span>系统管理</span>
						</a>
					</li>
				</ul>
				<img src="__PUBLIC__/admin/img/quit.png" class="quit"/>
			</div>
			<div class="con_middle date_search_t">
				<div class="titles">
					<ul class="clearfix">
						<!-- <li>
							<a href="#" class="actives">重新查询</a>
						</li> -->
						<li>
							<a class="actives" href="#">另存为Excel</a>
						</li>
						<li>
							<a class="actives" href="#">切换至曲线</a>
						</li>
					</ul>
				</div>

				
				<div style="overflow: hidden" class="one-wrap">
					<div class="one" style="overflow-x: scroll">
						<table border="none" cellspacing="" cellpadding="" class="table">

							<tr>
								<th>设备编码</th>
								<foreach item="vo" name="arrayshift">
									<th>{$key}</th>
								</foreach>
							</tr>
							<tr>
								<th>自定义信息</th>
								<foreach item="vo" name="data">
									<th>{$vo[$key]}</th>
								</foreach>
							</tr>

							<foreach item="vo" name="data">
								<tr>
									<td>{$key}</td>
									<volist name="vo" id="f">

										<td>{$vo[$key]['concentration']} >> {$vo[$key]['temperature']} >> {$vo[$key]['humidity']}</td>
									</volist>


								</tr>
							</foreach>




						</table>
						<div class="page">
							<ul class="clearfix">
								<li>{$page}</li>

							</ul>
						</div>
					</div>
					<div class="one two">
						<!-- <img src="__PUBLIC__/admin/img/line_chart.png"/> -->
						<canvas id="myChart" width="400" height="400"></canvas>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-3.1.0.js" ></script>
    	<script type="text/javascript" src="__PUBLIC__/admin/js/index.js" ></script>
       <script src="__PUBLIC__/admin/js/Chart.js/src/chart.js"></script>
	</body>
</html>
<script type="">
	var ctx = document.getElementById("myChart").getContext("2d");
	var myNewChart = new Chart(ctx).PolarArea(data);
	//Get context with jQuery - using jQuery's .get() method.
	

	new Chart(ctx).PolarArea(data,options);

	var data = {
		labels : ["January","February","March","April","May","June","July"],
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,1)",
				pointColor : "rgba(220,220,220,1)",
				pointStrokeColor : "#fff",
				data : [65,59,90,81,56,55,40]
			},
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				data : [28,48,40,19,96,27,100]
			}
		]
	}

	window.onload = function() {
            var ctx = document.getElementById("myChart").getContext("2d");;
            //方式二：传入对象字面量去修改默认图标参数，自定义图表
            var MyNewChart = new Chart(ctx).Line(data, {
                // 网格颜色
            scaleGridLineColor: "rgba(255,0,0,1)",
                // Y/X轴的颜色
                scaleLineColor: "rgba(0,0,0,.1)",
                // 文字大小
                scaleFontSize: 16,
                // 文字颜色
                scaleFontColor: "#666",
                // 网格颜色
                scaleGridLineColor: "rgba(0,0,0,.05)",
                // 是否使用贝塞尔曲线? 即:线条是否弯曲
                // 是否执行动画
                animation: true,
                // 动画的时间
                animationSteps: 60,
                // 动画完成时的执行函数
                onAnimationComplete: function(){
                    console.log("给x轴的lable对应的id：");
                    console.log(data.thisIds);
                }
            });
    }



</script>
